#login_form, #register_form {
  max-width: 500px;
  padding: 25px;
}

.main {
  width: 80%;
}

.header {
  padding-top: 40px;
  padding-bottom: 10px;
}

.header-index {
  padding-top: 30px;
  padding-bottom: 0px;
}

.footer {
  width: 80%;
}

.footer-info {
  padding-top: 10px;
  padding-bottom: 10px;
}

#login-btn, #register-btn {
  padding-left: 20px;
  padding-right: 20px;
}

#register-link {
  padding-top: 15px;
}

#chat-window {
  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
  border-radius: 2px;
}

#friends-list-panel {
  border-right-color: darkgrey;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: 0px;
}

#friends-list {
  height: 500px;
  overflow-y: scroll;
  padding: 1px;
}

#message-panel {
  padding-left : 0px;
}

.message-list {
  overflow-y: scroll;
  padding : 5px 1px 1px 1px;
}

.chat-window-title {
  border-bottom-color: darkgrey;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 10px 20px 10px 20px;
}

.chat-window-title h5 {
  margin: 0px;
}

#send-message-panel {
  width:100%;
  position : absolute;
  bottom : 0px;
  padding-left : 0px;
}

#send-message-panel > form {
  border-top-color: darkgrey;
  border-top-style: solid;
  border-top-width: 1px;
  padding: 10px 15px 10px 15px;
}

#send-message-btn {
  width: 100%;
}

#chat-tools {
  margin-top : 15px;
}

.message {
  margin-right: 0px;
  padding-left: 15px;
}

.message p {
  padding : 5px 15px;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  max-width: 90%;
  display: block;
}

.message .float-left {
  border-color: darkcyan;
}

.message .float-right {
  border-color: chocolate;
}

.table-option {
  font-size: 80%;
  padding: 0px 5px;
}

::-webkit-scrollbar {display:none}

.view-history {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-history > a {
  color: #9fcdff;
}

.message-list {
  height: 454px;
}