<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>login</title>
  </head>
  <body>
    <div class="container main">
      <div class="header">
        <h1 class="text-center">XCHAT</h1>
        <p class="text-center">Have fun chatting with your friends.</p>
      </div>
      <hr/>
      <div id="login_form" class="mx-auto">
          <div id="login-info"></div>
          <form>
              <div class="form-group">
                <label for="name-input">Name</label>
                <input type="text" class="form-control" id="name-input" placeholder="Enter name">
              </div>
              <div class="form-group">
                <label for="password-input">Password</label>
                <input type="password" class="form-control" id="password-input" placeholder="Enter Password">
              </div>
              <div class="row form-group">
                <div class="col">
                  <button type="submit" class="btn btn-primary" id="login-btn">Login</button>
                </div>
                <div class="col" id="register-link">
                    <a href="/register.html" class="float-right">register here</a>
                </div>
              </div>
            </form>
      </div>
      <footer class="fixed-bottom">
        <div class="footer mx-auto">
            <hr/>
            <p class="text-center footer-info">@2018 <a href="">hongluo@pinduoduo.com</a></p>
        </div>
      </footer>
    </div>
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/underscore-min.js"></script>
    <script>
        var login_info = "<div class=\"alert alert-<%=level %>\" role=\"alert\"><%=content %></div>"
        var login_info_template = _.template(login_info);
        var host = "http://" + window.location.host;

        function info (level, content) {
            $("#login-info").html(login_info_template({
                level : level,
                content : content
            }));
        }

        function check_name(name) {
            if (name.length < 3 || name.length > 10) {
                return "The length of the name must be in range [3, 10]."
            }
            return null;
        }

        function check_password(password) {
            if (password.length < 3 || password.length > 10) {
                return "The length of the password must be in range [3, 10]."
            }
        }

        $("#login-btn").click(function(e) {
            e.preventDefault();
            var name = $("#name-input").val();
            var password = $("#password-input").val();
            if (check_name(name) != null) {
                info("danger", check_name(name));
                return;
            }
            if (check_password(password) != null) {
                info("danger", check_password(password));
                return;
            }
            $.post(host + "/action/login", {
                name : name,
                password : password
            }, function(data) {
                if (data.status == "OK") {
                    window.location.href = host + "/index.html";
                } else {
                    info("danger", data.info);
                }
            }, "json");
        });
    </script>
  </body>
</html>